@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    place-items: center;
    padding-top:4rem;
    justify-content: center;
}
/* login and register rus start  */



/* login and register rus end */

/* ru */
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 20px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(204, 191, 194);
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0,0.3);
	z-index: 1;
}
.navbar .getstarted {
	background: crimson;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #f0e4e4;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand span {
	color: crimson
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
 
#user{
    align-items: end;
    margin-left:2rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fcf7f7;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.navbar .getstarted {
		display: none;
	}
}
  
/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* ant pc prebuilt main  */

.categoryH-sec{
    background: #000;
    padding: 40px 0;
}
.container-fluid-cust {
    
    max-width: 1440px;
}
.categoryH-boxInn {
    text-align: center;
    background: linear-gradient(#000, #171717);
    padding: 50px 0;
    border: 1px solid #000;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.categoryH-box-heading {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}



.btn-comm {
    background: #ce0101;
    padding: 6px 25px;
    display: inline-block;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
a, a:hover {
    text-decoration: none;
}
::after, ::before {
    box-sizing: border-box;
}

/* what makes about */
.why-choose-sec .row {
    align-items: center;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}
@media(min-width: 992px){
.col-lg-7{
    
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
}
/* prebuilt pc */
.products-list-sec {
    background: #000;
    padding: 60px 0;
    color: #fff;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
body[data-aos-easing=ease-out-back] [data-aos] {
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}
 ::after, ::before {
    box-sizing: border-box;
}
.products-list-sec {
    background: #000;
    padding: 60px 0;
    color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.products-list-box {
    background: #171717;
    border-radius: 10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    margin-bottom: 2rem;
    margin-top: rem;

    
}
/* rus */
.products-list-box:hover{
    transform: scale(1.1)

}

.products-list-sec {
    background: #000;
    padding: 60px 0;
    color: #fff;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.pList-box-heading {
    padding: 20px 0 10px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.pList-box-price {
    padding: 20px 0;
    text-align: center;
    background: #101010;
    font-size: 25px;
    font-weight: 700;
}
::after, ::before {
    box-sizing: border-box;

}
.pList-box-points {
    padding: 30px 20px;
}
.pList-box-price {
    padding: 20px 0;
    text-align: center;
    background: #101010;
    font-size: 25px;
    font-weight: 700;
}
.pList-box-price span {
    display: block;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.series-list-sec .pList-box-img img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.btn-block {
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
}
.products-list-box a {
    color: #fff;
}
.btn-comm {
    background: #ce0101;
    padding: 6px 25px;
    display: inline-block;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* rus */
.why-choose-sec {
    background: #000;
    padding: 0px 0 20px;
    color: #fff;
}

/* our moto section rus */

.our-motto-sec {
    padding: 40px 0;
    background: #000;
    color: #fff;
}

/* banner start rus */
#banner {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

#banner #banner-images {
    height: 100%;
    
    position: relative;
    object-fit: cover;
    z-index: -10;
    filter: brightness(2) grayscale(0.3);
    animation: banner-change 15s infinite ease-in-out;
    display: flex;
    flex-direction: row;
}
#banner #banner-images img {
    width: 100vw;
    object-fit: cover;
}

@keyframes banner-change{
    0% {
        right: -200vw;
        filter: brightness(1) grayscale(0.2);
    }
    20.5% {
        right: -200vw;
        filter: brightness(1) grayscale(0.2);
    }
    22.5% {
        right: -200vw;
        filter: brightness(0) grayscale(0.6);
    }
    23% {
        right: -100vw;
        filter: brightness(0) grayscale(0.6);
    }
    25% {
        right: -100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    45.5% {
        right: -100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    47.5% {
        right: -100vw;
        filter: brightness(0) grayscale(0.6);
    }
    48% {
        right: 0vw;
        filter: brightness(0) grayscale(0.6);
    }
    50% {
        right: 0vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    70.5% {
        right: 0vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    72.5% {
        right: 0vw;
        filter: brightness(0) grayscale(0.6);
    }
    73% {
        right: 100vw;
        filter: brightness(0) grayscale(0.6);
    }
    75% {
        right: 100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    95.5% {
        right: 100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    97.5% {
        right: 100vw;
        filter: brightness(0) grayscale(0.6);
    }
    98% {
        right: 200vw;
        filter: brightness(0) grayscale(0.6);
    }
    100% {
        right: 200vw;
        filter: brightness(0.7) grayscale(0.6);
    }
}

#banner h1 {
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    letter-spacing: 8px;
    color: rgb(230,255,255);
    text-shadow: 2px 2px 8px rgb(206, 206, 206);
    animation: color-cycle 5s infinite ease-in-out;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    margin-top: -14px;
    text-align: center;
    width: 90%;
}
/* banner end rus */






/* jay components css add  */

body {
    font-family: 'Roboto', sans-serif;
    place-items: center;
    padding-top:4rem;
    justify-content: center;
}

/* ru */
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 20px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: crimson;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0,0.3);
	z-index: 1;
}
.navbar .getstarted {
	background: crimson;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #f0e4e4;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand span {
	color: crimson
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fcf7f7;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.navbar .getstarted {
		display: none;
	}
}
  
/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* ant pc prebuilt main  */

.categoryH-sec{
    background: #000;
    padding: 40px 0;
}
.container-fluid-cust {
    
    max-width: 1440px;
}
.categoryH-boxInn {
    text-align: center;
    background: linear-gradient(#000, #171717);
    padding: 50px 0;
    border: 1px solid #000;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.categoryH-box-heading {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}



.btn-comm {
    background: #ce0101;
    padding: 6px 25px;
    display: inline-block;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
a, a:hover {
    text-decoration: none;
}
::after, ::before {
    box-sizing: border-box;
}

/* what makes about */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}
@media(min-width: 992px){
.col-lg-7{
    
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
}
/* prebuilt pc */
.products-list-sec {
    background: #000;
    padding: 60px 0;
    color: #fff;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
body[data-aos-easing=ease-out-back] [data-aos] {
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}
 ::after, ::before {
    box-sizing: border-box;
}
.products-list-sec {
    background: #000;
    padding: 60px 0;
    color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.products-list-box {
    background: #171717;
    border-radius: 10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    margin-bottom: 2rem;
    margin-top: rem;

    
}
/* rus */
.products-list-box:hover{
    transform: scale(1.1)

}

.products-list-sec {
    background: #000;
    padding: 60px 0;
    color: #fff;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.pList-box-heading {
    padding: 20px 0 10px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.pList-box-price {
    padding: 20px 0;
    text-align: center;
    background: #101010;
    font-size: 25px;
    font-weight: 700;
}
::after, ::before {
    box-sizing: border-box;

}
.pList-box-points {
    padding: 30px 20px;
}
.pList-box-price {
    padding: 20px 0;
    text-align: center;
    background: #101010;
    font-size: 25px;
    font-weight: 700;
}
.pList-box-price span {
    display: block;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.series-list-sec .pList-box-img img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.btn-block {
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
}
.products-list-box a {
    color: #fff;
}
.btn-comm {
    background: #ce0101;
    padding: 6px 25px;
    display: inline-block;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* rus */
.why-choose-sec {
    background: #000000;
    padding: 30px 0 20px;
    color: #fff;
}


/* our moto section rus */

.our-motto-sec {
    padding: 40px 0;
    background: #000;
    color: #fff;
}

/* banner start rus */
#banner {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

#banner #banner-images {
    height: 100%;
    
    position: relative;
    object-fit: cover;
    z-index: -10;
    filter: brightness(2) grayscale(0.3);
    animation: banner-change 15s infinite ease-in-out;
    display: flex;
    flex-direction: row;
}
#banner #banner-images img {
    width: 100vw;
    object-fit: cover;
}

@keyframes banner-change{
    0% {
        right: -200vw;
        filter: brightness(1) grayscale(0.2);
    }
    20.5% {
        right: -200vw;
        filter: brightness(1) grayscale(0.2);
    }
    22.5% {
        right: -200vw;
        filter: brightness(0) grayscale(0.6);
    }
    23% {
        right: -100vw;
        filter: brightness(0) grayscale(0.6);
    }
    25% {
        right: -100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    45.5% {
        right: -100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    47.5% {
        right: -100vw;
        filter: brightness(0) grayscale(0.6);
    }
    48% {
        right: 0vw;
        filter: brightness(0) grayscale(0.6);
    }
    50% {
        right: 0vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    70.5% {
        right: 0vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    72.5% {
        right: 0vw;
        filter: brightness(0) grayscale(0.6);
    }
    73% {
        right: 100vw;
        filter: brightness(0) grayscale(0.6);
    }
    75% {
        right: 100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    95.5% {
        right: 100vw;
        filter: brightness(0.7) grayscale(0.6);
    }
    97.5% {
        right: 100vw;
        filter: brightness(0) grayscale(0.6);
    }
    98% {
        right: 200vw;
        filter: brightness(0) grayscale(0.6);
    }
    100% {
        right: 200vw;
        filter: brightness(0.7) grayscale(0.6);
    }
}

#banner h1 {
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    letter-spacing: 8px;
    color: rgb(230,255,255);
    text-shadow: 2px 2px 8px rgb(206, 206, 206);
    animation: color-cycle 5s infinite ease-in-out;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    margin-top: -14px;
    text-align: center;
    width: 90%;
}
/* banner end rus */

/* component */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #000000;
}

.containercom{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.containercom .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.containercom .products-containercom{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.containercom .products-containercom .product{
   text-align: center;
   padding:3rem 2rem;
   background: #171717;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   
   outline-offset: -1.5rem;
   cursor: pointer;
   border-radius: .8rem;
}

.containercom .products-containercom .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.containercom .products-containercom .product img{
   height: 25rem;
}

.containercom .products-containercom .product:hover img{
   transform: scale(.9);
}

.containercom .products-containercom .product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#6e6969;
}

.containercom .products-containercom .product:hover h3{
   color:#ffffff;
}

.containercom .products-containercom .product .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 40rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#27ae60;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#27ae60;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }
 /* main about us section */
 .why-choose-secm .rowm {
    align-items: center;
    
}
.rowm {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}